extends layout/polos
block content
	.container-fluid(style="height:100vh!important;background:url(/img/404-bg.png)")
		.row
			.col-xs-12.col-md-4.col-md-offset-4
				h1=pageTitle
				h4=msg
				a(href='/dashboard') Kembali
