extends layout/polos
block content
	.row-fluid
		.container
			.col-sm-6.col-sm-offset-3
				h1 #{title}
					br
					small #{msg}
				form.form#frmLogin(action="/signup" method="post")
					.form-group
						input.form-control(type="text" name="userid" placeholder="Username")
					.form-group
						input.form-control(type="password" name="password" placeholder="Password")
					.form-group
						input.form-control(type="text" name="fullname" placeholder="Nama Lengkap")
					.form-group
						input.form-control(type="text" name="hp" placeholder="hp")
					.form-group
						button.btn.btn-primary#btnLogin Login
		