script(type='text/javascript', src='/adminlte/plugins/jquery/jquery.js')
script(type='text/javascript', src='/adminlte/plugins/bootstrap/js/bootstrap.js')
script(type='text/javascript', src='/adminlte/plugins/slimScroll/jquery.slimscroll.min.js')
script(type='text/javascript' src='/select2/dist/js/select2.full.js')
script(type='text/javascript', src='/adminlte/dist/js/adminlte.js')
script(type='text/javascript', src='/adminlte/dist/js/layout.js')
script(type='text/javascript', src='/adminlte/plugins/iCheck/icheck.min.js')
script(type='text/javascript', src='/js-xlsx/dist/xlsx.full.min.js')
//- script(type='text/javascript', src='/Blob/Blob.js')
//- script(type='text/javascript', src='/FileSaver/FileSaver.min.js')
//- script(type='text/javascript', src='/TableExport/dist/js/tableexport.js')
script(type='text/javascript', src='/DataTables/datatables.js')
script(type='text/javascript', src='/js/admin.js')
//- script(src="{process.env.BROWSER_REFRESH_URL}")
