script(type='text/javascript', src='/adminlte/plugins/jquery/jquery.js')
script(type='text/javascript', src='/adminlte/plugins/bootstrap/js/bootstrap.js')
script(type='text/javascript', src='/adminlte/plugins/slimScroll/jquery.slimscroll.min.js')
script(type='text/javascript', src='/adminlte/dist/js/adminlte.js')
script(type='text/javascript', src='/adminlte/dist/js/layout.js')
script(type='text/javascript', src='/adminlte/plugins/iCheck/icheck.min.js')